<div class="Info">
	<h1 class="HTTP_CODE">Return Code: {{ Info["HTTP_CODE"] }}</h1>
	<h2 class="NAMELOOKUP_TIME">DNS Lookup Time: {{ Info["NAMELOOKUP_TIME"]*1000 }} Secs</h2>
	<h2 class="CONNECT_TIME">Connect Time: {{ Info["CONNECT_TIME"]*1000 }} Secs</h3>
	<h2 class="PRETRANSFER_TIME">{{ Info["PRETRANSFER_TIME"]*1000 }} Secs</h4>
	<h2 class="STARTTRANSFER_TIME">{{ Info["STARTTRANSFER_TIME"]*1000 }} Seccs</h5>
	<h2 class="TOTAL_TIME">Total time : {{ Info["TOTAL_TIME"]*1000 }} Secs</h6>
	<h2 class="SIZE_DOWNLOAD">Downloaded Size {{ Info["SIZE_DOWNLOAD"]}} KBs</h6>
	
	
</div>
